<% provide(:title, "Home")%>
<h1 class="text-center">Bienvenido a Paycesa</h1>
<% if logged_in? %>
	<div class="row"> 
		<div class="col-sm-3">
			<h1>Ventas de contado</h1>
		</div>
		<div class="col-sm-3">
			<h1>Productos sin inventario</h1>
		</div>
		<div class="col-sm-3">
			<h1>Ventas a credito</h1>
		</div>
		<div class="col-sm-3">
			<h1>Embarques en proceso</h1>
		</div>
	</div>
<% end %>